html,
body {
	height:100%;
}
* {
	box-sizing: border-box;
}
.slide-container {
	max-width:1000px;
	position:relative;
	margin:auto;
}
.slide {
	position:relative;
	display:none;
}
.next,
.prev {
	border-radius:0 3px 3px 0;
	color:white;
	cursor:pointer;
	font-size:18px;
	font-weight:bold;
	margin-top:0px;
	padding:16px;
	position:absolute;
	transition:0.6s ease;
	top:50%;
	width:auto;
}
.next {
	right:0;
	border-radius:3px 0 0 3px;
}
.prev:hover, .next:hover {
	background-color:rgb(0, 0, 0, 0.8);
}
.text {
	bottom:8px;
	color:#f2f2f2;
	font-size:15px;
	padding:8px 15px;
	position:absolute;
	text-align:center;
	width:100%;
}
.numbertext {
	color:#f2f2f2;
	font-size:12px;
	padding:8px 12px;
	position:absolute;
	top:0;
}
.dot {
	background-color:#bbb;
	border-radius:50%;
	cursor:pointer;
	display:inline-block;
	height:15px;
	margin:0 2px;
	transition:background-color 0.6s ease;
	width:15px;
}
.active,
.dot:hover {
	background-color:#717171;
}
.fade {
	-webkit-animation-name:fade;
							 animation:fade;
	-webkit-animation-duration:1.5s;
					animation-duration:1.5s;
}
@-webkit-keyframes fade{
	from{opacity:0.4}
	to {opacity:1}
}
@keyframes fade{
	from{opacity:0.4}
	to {opacity:1}
}