.main {
	position: relative;
	background-color: black;
}

.circle {
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

.left {
	position: absolute;
	top: 0;
	left: 0;
	border: 2px solid red;
	background-color: transparent;
}

.right {
	position: absolute;
	top: 0;
	left: 50px;
	border: 2px solid green;
	background-color: transparent;
}

.bottom {
	position: absolute;
	top: 50px;
	left: 25px;
	border: 2px solid blue;
	background-color: transparent;
}